@import '/src/scss/index.scss';
@import '/src/scss/colors.scss';

.auth {
    background: linear-gradient(to bottom, #333, #000);
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;

    .logo {
        width: 180px;
        margin-bottom: 30px;
    }

    &__froms {
        width: 450px;
    }

    .ui.menu {
        .item {
            width: 50%;
            justify-content: center;
            background-color: #fff !important;
            border-radius: 0 !important;
            border-top: 4px solid $border-grey !important;
            font-size: 18px;
        }

        .active {
            font-weight: normal;
            border-radius: 0 !important;
            border-top-color: $primary !important;
        }
    }
}

@media (max-width: 280px) {
    .auth {
        width: 100%;
    }

    .auth_forms {
        width: 250px;
    }
}

@media (max-width: 320px) {
    .auth {
        width: 100%;
    }

    .auth_forms {
        width: 300px;
    }
}

@media (max-width: 390px) {
    .auth {
        width: 100%;
    }

    .auth_forms {
        width: 250px;
    }
}

@media (max-width: 500px) {
    .auth {
        width: 100%;
    }

    .auth_forms {
        width: 250px;
    }
}